*{
    box-sizing: border-box;
    transition: all;
}

.event__container{
    background-color: rgb(239, 122, 122);
}
form{
    border: 2px solid rgb(63, 143, 241);
}
img{
    object-fit: cover;
    display: block;
    margin: 100px;
    
    animation: anim 0.4s ease-in
}
footer{
    background-color: rgb(193, 203, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    animation: anim 0.4s ease-in
}
@keyframes anim {
    0%{
        transform: translate(-100px);
    }
    100%{
         transform: translate(0);
    }
}
